body {
    margin: 0 auto;
    background: #f7f7f7;
}

* {
    font-family: open-sans, sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: adrianna-extended, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
    margin: 10px 0;
    text-transform: uppercase;
}

iframe {
    border-radius: 10px;
}

.ctx-spinner {
    width: 50px;
    height: 50px;
    animation-direction: reverse!important;
}

.ctx-loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #f7f7f7;

    i {
        position: absolute;
        color: #e31936;
        font-size: 40px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.ctx-dashboard {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.ctx-dash-content {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0 0 0;
}

@media(max-width: 900px) {
    .ctx-dash-content {
        grid-template-columns: 1fr;
        
    }
}

.ctx-dash-notifications {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    //box-shadow: 0 20px 10px -10px rgba(0,0,0,0.3);
    animation: loginBox 1s ease;
}

.ctx-dash-body {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 20px 0;
    padding: 5%;
    //background: #ffffff;
    //border-top: solid 100px #e31936;
    border-radius: 10px;
    //box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);
    animation: loginBox 1s ease;
    height: fit-content;

    h2 {
        position: absolute;
        top: -60px;
        left: 30px;
        color: #fff;
        text-shadow: 0 10px 10px rgba(0,0,0,0.2);
    }
}

.ctx-academy, .ctx-downloads, .ctx-applications {
    padding: 30px 0;

    .product-filtering {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input, select {
            position: relative;
            appearance: none;
            width: 120px;
            height: 30px;
            border: solid 1px #cdcdcd;
            border-radius: 5px;
            padding: 0 7px;
        }
    
        select {
            height: 32px;
            width: 160px;
            cursor: pointer;
        }

        .dropdown-wrapper {
            position: relative;

            &::after {
                content: "\f107";
                font-family: 'Font Awesome 5 Pro';
                position: absolute;
                right: 10px;
                top: 52%;
                transform: translateY(-50%);
                pointer-events: none;
            }
        }
    }
}

.ctx-news-feed {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: transparent;
    border-radius: 10px;
    animation: loginBox 1s ease;
    height: fit-content;

    .news-feed-options {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        p {
            font-size: 13px;
            margin: 15px;
            cursor: pointer;
            transition: ease .2s;

            &:hover {
                color: #e31936;
            }
        }
    }
}

#posts {
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.ctx-background-blur {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 11;
    overflow: hidden;
}

.ctx-post {
    display: flex;
    flex-direction: row;
    margin: 10px 0 30px 0;
    animation: slideIn ease .4s;

    h3 {
        font-size: 16px;
        margin: 20px 0 10px 0;
    }

    p {
        font-size: 14px;
        margin: 0;
    }

    span:first-child {
        font-weight: 600;
    }

    span {
        font-size: 12px;
    }

    .ctx-post-content {
        position: relative;
        background: #fff;
        padding: 20px;
        margin: 0 10px 0 20px;
        border-radius: 10px;
        width: 485px;
        max-width: 485px;
        height: fit-content;
        box-shadow: 0 15px 20px -20px rgba(0,0,0,0.2);

        &::before {
            content: "";
            position: absolute;
            top: 30px;
            left: -20px;
            border: solid 10px transparent;
            border-right: solid 10px #fff;
        }

        input {
            font-weight: 600!important;

            &::placeholder {
                font-weight: 500;
            }
        }

        h3 {
            text-transform: none!important;
            font-family: inherit!important;
        }
    }

    .post-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0 0 0;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 13px;
            font-weight: 600;
            transition: ease .2s;

            i {
                font-size: 18px;
                margin: 0 5px 0 0;
            }
        }
    }
}

@media(max-width: 900px) {
    .ctx-post {

        .ctx-post-content {
            width: auto;
            margin: 0 10px;

            &::before {
                display: none;
            }
        }
    }
}

.ctx-post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.start-post {
    appearance: none;
    background: #fff;
    border: none;
    width: 100%;
    max-width: 485px;
    min-height: 40px;
    resize: vertical;
    outline: none;
    font-weight: 500;
    font-size: 16px;
}

.likeComment {
    div {
        cursor: pointer;
        &:hover {
            color: #e31936;
        }
    }
}

.likesComments {
    margin: 0;

    p {
        font-size: 12px!important;
        font-weight: 400!important;

        span {
            font-weight: 500;
        }
    }
}

.ctx-new-post {
    z-index: 999;
    animation: loginBox 1s ease;
}

.ctx-dash-welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    p {
        font-size: 13px;
    }
}

.ctx-user-post-details {
    display: flex;
    flex-direction: column;

    span:nth-child(2) {
        color: #888;
    }
}

@media(max-width: 900px) {
    .ctx-user-post-details {
        margin-left: 50px;
    }
}

.ctx-post-img {

    img {
        width: 100%;
        height: 100%;
        max-height: 260px;
        margin-top: 20px;
        border-radius: 10px;
        object-fit: cover;
    }
}

.ctx-profile-img {
    position: relative;
    text-align: center;
    width: min-content;
    transition: ease .2s;

    /*
    &::after {
        content: "";
        position: absolute;
        top: 55px;
        right: 3px;
        width: 12px;
        height: 12px;
        background: #69DE9F;
        border-radius: 100px;
        z-index: 1;
    }*/

    img {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin: 10px 0;
        object-fit: cover;
        cursor: pointer;
        transition: ease .2s;
        box-shadow: 10px -10px 20px -15px rgba(0,0,0,0.6);
    }

    .comment-img {
        width: 40px;
        height: 40px;
        margin: 10px;
    }
}

@media(max-width: 900px) {
    .ctx-profile-img {

        img {
            position: absolute;
            width: 40px;
            height: 40px;
            z-index: 9;
            left: 30px;
            top: 5px;
        }

        &:nth-last-child() {
            left: 290px;
        }
    }
}

.file-upload {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    color: #555;
    font-size: 12px;
    border-radius: 10px;
    border: dashed 2px #eee;
    font-weight: 500;
    cursor: pointer;
    transition: ease .2s;

    &:hover {
        border: dashed 2px #e31936;
    }
}

.post-btn {
    position: relative;
    display: flex;
    justify-content: center!important;
    align-items: center;
    height: 35px;
    width: 35px;
    background: #e31936;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: ease .2s;
    font-size: 16px;
    font-weight: 600;
}

.post-btn:hover {
    color: #fff!important;
    opacity: 0.8;
}

.post-edit-btn {
    cursor: pointer;
    transition: ease .2s;
}

.post-edit-btn:hover {
    color: #e31936;
}

@media(max-width: 900px) {
    .post-edit-btn {
        position: absolute;
        left: 230px;
        top: 25px;
        z-index: 9;
    }
}

.update-profile {
    &::before {
        content: "\f303";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Font Awesome 5 Pro';
        top: 10px;
        left: -2px;
        font-size: 30px;
        z-index: 99;
        transition: ease .2s;
        cursor: pointer;
        pointer-events: none;
        height: 60px;
        width: 62px;
        border-radius: 100px;
        background: rgba(255,255,255,0.5);
        opacity: 0;
        z-index: 1;
    }

    &:hover:before {
        opacity: 1;
    }
}

.ctx-comment-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    animation: slideIn ease .2s;

    .ctx-comment-content {
        position: relative;
        flex-direction: column;
        background: #fff;
        padding: 12px 20px;
        margin: -10px 10px 20px 20px;
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        max-width: 425px;
        min-width: 180px;
        box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);

        &::before {
            content: "";
            position: absolute;
            top: 30px;
            right: -20px;
            border: solid 10px transparent;
            border-left: solid 10px #fff;
        }

        .start-post {
            width: 280px;
            max-width: 800px;
            min-height: 10px;
            height: 23px;
            font-size: 14px;
            margin-right: 20px;
            padding-top: 9px;
        }

        p {
            margin: 0;
            font-size: 14px;
        }
    }

    .ctx-comment-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        justify-content: space-between;
    }

    .ctx-comment-post {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ctx-dash-sidebar {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 20px 0;
    padding: 30px;
    //background: #ffffff;
    border-radius: 10px;
    animation: loginBox 1s ease;
    height: fit-content;
    //box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);

    p {
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 5px 0;
    }

    ul {
        padding: 0 0 25px 0;

        li {
            padding: 2px 0;
            display: block;
        }
    }
}

@media(max-width: 900px) {
    .ctx-dash-sidebar {
        display: none;
    }
}

.ctx-dash-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 0;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 10px 30px -15px rgba(0,0,0,0.1);

    .ctx-dash-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;

        img {
            width: 119px;
            height: 30px;
            padding: 20px;
        }
    }

    .ctx-dash-user {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0 15px;
        //padding: 20px;

        .menu-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #e31936;
            color: #fff;
            border-radius: 50px;
            width: 40px;
            height: 40px;
            font-size: 16px;
            margin: 0 10px 0 0;
            cursor: pointer;
            transition: ease .2s;

            &:hover {
                opacity: 0.7;
            }
        }

        .menu-disabled {
            opacity: 0.5;
            cursor: default;
            
            &:hover {
                opacity: 0.5;
            }
        }

        button {
            height: 35px;
        }
    }
}

ul {
    margin: 0;
    list-style: none;
    list-style-image: none;

    li {
        display: inline-block;
        list-style: none;
        list-style-image: none;
        padding: 10px;
        font-size: 13px;
        transition: ease .2s;
        cursor: pointer;
    }

    li:hover {
        color: #e31936;
    }
}

.ctx-announcement {
    position: absolute;
    height: 50px;
    width: 100%;
    background: #ffffff;
    margin: 0 auto;
    bottom: -50px;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: 0 15px 10px -15px rgba(0,0,0,0.2);

    .ctx-announcement-title p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-family: adrianna-extended, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        position: absolute;
        background: #ffffff;
        top: 0;
        left: 0;
        width: 140px;
        height: 50px;
        color: #222;
        margin: 0;
        z-index: 999;
    }

    .ctx-announcement-text p {
        position: absolute; 
        font-size: 12px;
        width: 100%;
        color: #222;
        margin: 16px;
        animation: scrollAnnounce 30s linear infinite;
    }
}

.ctx-hub-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(https://cirtexcivil.co.nz/applications/civilhub/img/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ctx-hub-bg::before {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background: rgba(0,0,0,0.5);
}

.ctx-login-header {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;
}

.ctx-login {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    width: 460px;
    margin: auto;

    p {
        font-weight: normal;
        font-size: 14px;
        text-align: end;
    }
}

@media(max-width:900px) {
    .ctx-login {
        width: 90%;
        margin: 5%;
        top: 0;
        transform: none;
    }
}

.ctx-login-box {
    position: relative;
    margin: 20px 0;
    background: transparent;
    padding: 40px 30px 40px 100px;
    animation: loginBox 1s ease;
    //border-left: dashed 17px #e31936;

    .err {
        display: none;
        position: absolute;
        top: 135px;
        color :#e31936;
        font-weight: bold;
        font-size: 12px;
        max-width: 350px;
    }

    input {
        display: block;
        margin: 5px 0;
        height: 40px;
        width: 98%;
        font-size: 16px;
        background: #fff;
        border: solid 1px #f1f1f1;
        border-radius: 50px;
        text-indent: 15px;
        outline: none;
        transition: ease .2s;
    }

    input:hover, input:focus {
        border: solid 1px #e31936;
    }

    input::placeholder {
        font-size: 14px;
        text-transform: capitalize;
    }

    p {
        font-weight: normal;
        font-size: 14px;
        text-align: left;
    }

    .ctx-text-btn {
        transition: ease .2s;
        cursor: pointer;
    }

    .ctx-text-btn:hover {
        color: #e31936;
    }

    .ctx-disclaimer {
        font-size: 12px;
        margin: 50px 0 0 0;
    }
}


@media(max-width:900px) {
    .ctx-login-box {
        border-top: solid 30px #e31936;
        border-left: 0;
    }
}

button {
    background: #e31936;
    color: #fff;
    border: none;
    border-radius: 100px;
    width: 120px;
    height: 40px;
    font-weight: bold;
    transition: ease .2s;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #c41a33;
}

.ctx-signup-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0 0 0;

    p {
        margin: 0 10px;
    }
}


// ANIMATIONS

@keyframes loginBox {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scrollAnnounce {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(-100%)
    }
}

.tracker-station {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 13px;
    line-height: 120%;
    margin: 0;
    padding-bottom: 18px;

    .circle {
        background: #e31936;
        position: absolute;
        z-index: 1;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        margin-left: -1px;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 25px;
        h4 {
            font-weight: 400;
            color: #333;
            line-height: 130%;
            font-size: 15px;
        }
    }
}

.circle::after {
    content: "";
    background: url(/img/check-regular.svg) no-repeat;
    font-size: 11px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    transform: translateY(10px);
    transition: ease .2s;
    opacity: 0; 
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.accordion {
    background-color: #fff;
    border: solid 1px #eee;
    color: #222;
    cursor: pointer;
    padding: 18px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 10px;
}

.accordion-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    p {
        background: #e31936;
        color: #fff;
        padding: 5px 10px;
        border-radius: 100px;
        margin: 0 10px 0 0;
        font-size: 13px;
    }
}
  
.active, .accordion:hover {
    background-color: #eee;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.progress-ring {
    width: 120px;
    height: 120px;
}

.progress-ring__circle {
    stroke-dasharray: 20 10;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%,
}

// Lightbox

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);

    img {
        max-width: 1100px;
        width: auto;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.6);
        animation: loginBox ease .2s;
    }

    p {
        position: absolute;
        top: 30px;
        font-size: 20px;
        color: #fff;
    }
  }
  
  .lightbox:target {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

.ctx-download-btn {
    background: transparent;
    color: #222;
    min-width: 300px;
    height: 39px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    margin: 0;
    padding: 0;

    &:hover {
        color: #e31936;
        background: transparent;
    }
}

.product-table-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
    grid-gap: 10px;
    padding: 0 10px;
    margin: 20px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    background: #eee;
}

.product-body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
    grid-gap: 10px;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    animation: fadeIn ease .3s;
    transition: ease .1s;
    cursor: pointer;

    &:nth-child(even) {
        background: #eee;
    }

    &:hover {
        transform: scale(1.02);
        background: #e31936;
        color: white;
        border-radius: 10px;

        &::after {
            content: "Add to order";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -35px;
            background: #222;
            color: white;
            width: 85px;
            text-align: center;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            font-size: 12px;
            transition: ease .5s;
            animation: fade ease .2s;
        }
    }
}