body {
  margin: 0 auto;
  background: #f7f7f7;
}

* {
  font-family: open-sans, sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: adrianna-extended, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  margin: 10px 0;
  text-transform: uppercase;
}

iframe {
  border-radius: 10px;
}

.ctx-spinner {
  width: 50px;
  height: 50px;
  animation-direction: reverse !important;
}

.ctx-loader {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}

.ctx-loader i {
  position: absolute;
  color: #e31936;
  font-size: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ctx-dashboard {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.ctx-dash-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr 1fr;
      grid-template-columns: 1fr 2.5fr 1fr;
  grid-gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0 0 0;
}

@media (max-width: 900px) {
  .ctx-dash-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.ctx-dash-notifications {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-animation: loginBox 1s ease;
          animation: loginBox 1s ease;
}

.ctx-dash-body {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 20px 0;
  padding: 5%;
  border-radius: 10px;
  -webkit-animation: loginBox 1s ease;
          animation: loginBox 1s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ctx-dash-body h2 {
  position: absolute;
  top: -60px;
  left: 30px;
  color: #fff;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.ctx-academy, .ctx-downloads, .ctx-applications {
  padding: 30px 0;
}

.ctx-academy .product-filtering, .ctx-downloads .product-filtering, .ctx-applications .product-filtering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctx-academy .product-filtering input, .ctx-academy .product-filtering select, .ctx-downloads .product-filtering input, .ctx-downloads .product-filtering select, .ctx-applications .product-filtering input, .ctx-applications .product-filtering select {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 120px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 5px;
  padding: 0 7px;
}

.ctx-academy .product-filtering select, .ctx-downloads .product-filtering select, .ctx-applications .product-filtering select {
  height: 32px;
  width: 160px;
  cursor: pointer;
}

.ctx-academy .product-filtering .dropdown-wrapper, .ctx-downloads .product-filtering .dropdown-wrapper, .ctx-applications .product-filtering .dropdown-wrapper {
  position: relative;
}

.ctx-academy .product-filtering .dropdown-wrapper::after, .ctx-downloads .product-filtering .dropdown-wrapper::after, .ctx-applications .product-filtering .dropdown-wrapper::after {
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  position: absolute;
  right: 10px;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.ctx-news-feed {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: transparent;
  border-radius: 10px;
  -webkit-animation: loginBox 1s ease;
          animation: loginBox 1s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ctx-news-feed .news-feed-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ctx-news-feed .news-feed-options p {
  font-size: 13px;
  margin: 15px;
  cursor: pointer;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.ctx-news-feed .news-feed-options p:hover {
  color: #e31936;
}

#posts {
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.ctx-background-blur {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  overflow: hidden;
}

.ctx-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0 30px 0;
  -webkit-animation: slideIn ease .4s;
          animation: slideIn ease .4s;
}

.ctx-post h3 {
  font-size: 16px;
  margin: 20px 0 10px 0;
}

.ctx-post p {
  font-size: 14px;
  margin: 0;
}

.ctx-post span:first-child {
  font-weight: 600;
}

.ctx-post span {
  font-size: 12px;
}

.ctx-post .ctx-post-content {
  position: relative;
  background: #fff;
  padding: 20px;
  margin: 0 10px 0 20px;
  border-radius: 10px;
  width: 485px;
  max-width: 485px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);
}

.ctx-post .ctx-post-content::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -20px;
  border: solid 10px transparent;
  border-right: solid 10px #fff;
}

.ctx-post .ctx-post-content input {
  font-weight: 600 !important;
}

.ctx-post .ctx-post-content input::-webkit-input-placeholder {
  font-weight: 500;
}

.ctx-post .ctx-post-content input:-ms-input-placeholder {
  font-weight: 500;
}

.ctx-post .ctx-post-content input::-ms-input-placeholder {
  font-weight: 500;
}

.ctx-post .ctx-post-content input::placeholder {
  font-weight: 500;
}

.ctx-post .ctx-post-content h3 {
  text-transform: none !important;
  font-family: inherit !important;
}

.ctx-post .post-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
}

.ctx-post .post-actions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.ctx-post .post-actions div i {
  font-size: 18px;
  margin: 0 5px 0 0;
}

@media (max-width: 900px) {
  .ctx-post .ctx-post-content {
    width: auto;
    margin: 0 10px;
  }
  .ctx-post .ctx-post-content::before {
    display: none;
  }
}

.ctx-post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-post {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  border: none;
  width: 100%;
  max-width: 485px;
  min-height: 40px;
  resize: vertical;
  outline: none;
  font-weight: 500;
  font-size: 16px;
}

.likeComment div {
  cursor: pointer;
}

.likeComment div:hover {
  color: #e31936;
}

.likesComments {
  margin: 0;
}

.likesComments p {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.likesComments p span {
  font-weight: 500;
}

.ctx-new-post {
  z-index: 999;
  -webkit-animation: loginBox 1s ease;
          animation: loginBox 1s ease;
}

.ctx-dash-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ctx-dash-welcome p {
  font-size: 13px;
}

.ctx-user-post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ctx-user-post-details span:nth-child(2) {
  color: #888;
}

@media (max-width: 900px) {
  .ctx-user-post-details {
    margin-left: 50px;
  }
}

.ctx-post-img img {
  width: 100%;
  height: 100%;
  max-height: 260px;
  margin-top: 20px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ctx-profile-img {
  position: relative;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  /*
    &::after {
        content: "";
        position: absolute;
        top: 55px;
        right: 3px;
        width: 12px;
        height: 12px;
        background: #69DE9F;
        border-radius: 100px;
        z-index: 1;
    }*/
}

.ctx-profile-img img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 10px 0;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  -webkit-box-shadow: 10px -10px 20px -15px rgba(0, 0, 0, 0.6);
          box-shadow: 10px -10px 20px -15px rgba(0, 0, 0, 0.6);
}

.ctx-profile-img .comment-img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

@media (max-width: 900px) {
  .ctx-profile-img img {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 9;
    left: 30px;
    top: 5px;
  }
  .ctx-profile-img:nth-last-child() {
    left: 290px;
  }
}

.file-upload {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 40px;
  color: #555;
  font-size: 12px;
  border-radius: 10px;
  border: dashed 2px #eee;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.file-upload:hover {
  border: dashed 2px #e31936;
}

.post-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 35px;
  background: #e31936;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  font-size: 16px;
  font-weight: 600;
}

.post-btn:hover {
  color: #fff !important;
  opacity: 0.8;
}

.post-edit-btn {
  cursor: pointer;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.post-edit-btn:hover {
  color: #e31936;
}

@media (max-width: 900px) {
  .post-edit-btn {
    position: absolute;
    left: 230px;
    top: 25px;
    z-index: 9;
  }
}

.update-profile::before {
  content: "\f303";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Font Awesome 5 Pro';
  top: 10px;
  left: -2px;
  font-size: 30px;
  z-index: 99;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  cursor: pointer;
  pointer-events: none;
  height: 60px;
  width: 62px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: 1;
}

.update-profile:hover:before {
  opacity: 1;
}

.ctx-comment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-animation: slideIn ease .2s;
          animation: slideIn ease .2s;
}

.ctx-comment-wrapper .ctx-comment-content {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 12px 20px;
  margin: -10px 10px 20px 20px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 425px;
  min-width: 180px;
  -webkit-box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);
}

.ctx-comment-wrapper .ctx-comment-content::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -20px;
  border: solid 10px transparent;
  border-left: solid 10px #fff;
}

.ctx-comment-wrapper .ctx-comment-content .start-post {
  width: 280px;
  max-width: 800px;
  min-height: 10px;
  height: 23px;
  font-size: 14px;
  margin-right: 20px;
  padding-top: 9px;
}

.ctx-comment-wrapper .ctx-comment-content p {
  margin: 0;
  font-size: 14px;
}

.ctx-comment-wrapper .ctx-comment-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctx-comment-wrapper .ctx-comment-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ctx-dash-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 20px 0;
  padding: 30px;
  border-radius: 10px;
  -webkit-animation: loginBox 1s ease;
          animation: loginBox 1s ease;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ctx-dash-sidebar p {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.ctx-dash-sidebar ul {
  padding: 0 0 25px 0;
}

.ctx-dash-sidebar ul li {
  padding: 2px 0;
  display: block;
}

@media (max-width: 900px) {
  .ctx-dash-sidebar {
    display: none;
  }
}

.ctx-dash-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 0;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.1);
}

.ctx-dash-header .ctx-dash-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.ctx-dash-header .ctx-dash-menu img {
  width: 119px;
  height: 30px;
  padding: 20px;
}

.ctx-dash-header .ctx-dash-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.ctx-dash-header .ctx-dash-user .menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e31936;
  color: #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  margin: 0 10px 0 0;
  cursor: pointer;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.ctx-dash-header .ctx-dash-user .menu-icon:hover {
  opacity: 0.7;
}

.ctx-dash-header .ctx-dash-user .menu-disabled {
  opacity: 0.5;
  cursor: default;
}

.ctx-dash-header .ctx-dash-user .menu-disabled:hover {
  opacity: 0.5;
}

.ctx-dash-header .ctx-dash-user button {
  height: 35px;
}

ul {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

ul li {
  display: inline-block;
  list-style: none;
  list-style-image: none;
  padding: 10px;
  font-size: 13px;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  cursor: pointer;
}

ul li:hover {
  color: #e31936;
}

.ctx-announcement {
  position: absolute;
  height: 50px;
  width: 100%;
  background: #ffffff;
  margin: 0 auto;
  bottom: -50px;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.2);
}

.ctx-announcement .ctx-announcement-title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-family: adrianna-extended, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 140px;
  height: 50px;
  color: #222;
  margin: 0;
  z-index: 999;
}

.ctx-announcement .ctx-announcement-text p {
  position: absolute;
  font-size: 12px;
  width: 100%;
  color: #222;
  margin: 16px;
  -webkit-animation: scrollAnnounce 30s linear infinite;
          animation: scrollAnnounce 30s linear infinite;
}

.ctx-hub-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://cirtexcivil.co.nz/applications/civilhub/img/login-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ctx-hub-bg::before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ctx-login-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 50px 0;
}

.ctx-login {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 460px;
  margin: auto;
}

.ctx-login p {
  font-weight: normal;
  font-size: 14px;
  text-align: end;
}

@media (max-width: 900px) {
  .ctx-login {
    width: 90%;
    margin: 5%;
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.ctx-login-box {
  position: relative;
  margin: 20px 0;
  background: transparent;
  padding: 40px 30px 40px 100px;
  -webkit-animation: loginBox 1s ease;
          animation: loginBox 1s ease;
}

.ctx-login-box .err {
  display: none;
  position: absolute;
  top: 135px;
  color: #e31936;
  font-weight: bold;
  font-size: 12px;
  max-width: 350px;
}

.ctx-login-box input {
  display: block;
  margin: 5px 0;
  height: 40px;
  width: 98%;
  font-size: 16px;
  background: #fff;
  border: solid 1px #f1f1f1;
  border-radius: 50px;
  text-indent: 15px;
  outline: none;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.ctx-login-box input:hover, .ctx-login-box input:focus {
  border: solid 1px #e31936;
}

.ctx-login-box input::-webkit-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

.ctx-login-box input:-ms-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

.ctx-login-box input::-ms-input-placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

.ctx-login-box input::placeholder {
  font-size: 14px;
  text-transform: capitalize;
}

.ctx-login-box p {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
}

.ctx-login-box .ctx-text-btn {
  -webkit-transition: ease .2s;
  transition: ease .2s;
  cursor: pointer;
}

.ctx-login-box .ctx-text-btn:hover {
  color: #e31936;
}

.ctx-login-box .ctx-disclaimer {
  font-size: 12px;
  margin: 50px 0 0 0;
}

@media (max-width: 900px) {
  .ctx-login-box {
    border-top: solid 30px #e31936;
    border-left: 0;
  }
}

button {
  background: #e31936;
  color: #fff;
  border: none;
  border-radius: 100px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: #c41a33;
}

.ctx-signup-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 0;
}

.ctx-signup-btns p {
  margin: 0 10px;
}

@-webkit-keyframes loginBox {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loginBox {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scrollAnnounce {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scrollAnnounce {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.tracker-station {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-size: 13px;
  line-height: 120%;
  margin: 0;
  padding-bottom: 18px;
}

.tracker-station .circle {
  background: #e31936;
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  margin-left: -1px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tracker-station .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 25px;
}

.tracker-station .description h4 {
  font-weight: 400;
  color: #333;
  line-height: 130%;
  font-size: 15px;
}

.circle::after {
  content: "";
  background: url(/img/check-regular.svg) no-repeat;
  font-size: 11px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: ease .2s;
  transition: ease .2s;
  opacity: 0;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.accordion {
  background-color: #fff;
  border: solid 1px #eee;
  color: #222;
  cursor: pointer;
  padding: 18px;
  margin: 5px 0;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
}

.accordion-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-info p {
  background: #e31936;
  color: #fff;
  padding: 5px 10px;
  border-radius: 100px;
  margin: 0 10px 0 0;
  font-size: 13px;
}

.active, .accordion:hover {
  background-color: #eee;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.progress-ring {
  width: 120px;
  height: 120px;
}

.progress-ring__circle {
  stroke-dasharray: 20 10;
  -webkit-transition: stroke-dashoffset 0.35s;
  transition: stroke-dashoffset 0.35s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.lightbox img {
  max-width: 1100px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.6);
          box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.6);
  -webkit-animation: loginBox ease .2s;
          animation: loginBox ease .2s;
}

.lightbox p {
  position: absolute;
  top: 30px;
  font-size: 20px;
  color: #fff;
}

.lightbox:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ctx-download-btn {
  background: transparent;
  color: #222;
  min-width: 300px;
  height: 39px;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.ctx-download-btn:hover {
  color: #e31936;
  background: transparent;
}

.product-table-header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr 2fr 2fr;
      grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
  grid-gap: 10px;
  padding: 0 10px;
  margin: 20px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  background: #eee;
}

.product-body {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr 2fr 2fr;
      grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  font-size: 14px;
  -webkit-animation: fadeIn ease .3s;
          animation: fadeIn ease .3s;
  -webkit-transition: ease .1s;
  transition: ease .1s;
  cursor: pointer;
}

.product-body:nth-child(even) {
  background: #eee;
}

.product-body:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background: #e31936;
  color: white;
  border-radius: 10px;
}

.product-body:hover::after {
  content: "Add to order";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -35px;
  background: #222;
  color: white;
  width: 85px;
  text-align: center;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-size: 12px;
  -webkit-transition: ease .5s;
  transition: ease .5s;
  -webkit-animation: fade ease .2s;
          animation: fade ease .2s;
}
/*# sourceMappingURL=style.css.map */